/* ==========================================================================
   Colors
   ========================================================================== */
$color-grey-00: 		   #000;
$color-grey-60:				 #999898;
$color-grey-80:				 #cec9c9;
$color-grey-100: 		   #fff;

/* 
   Keyword colors
   ========================================================================== */
$color-white: 			   $color-grey-100;
$color-off-white:			 #f8f8f8;
$color-black: 			   $color-grey-00;
$color-lightBlue:			 #b1baf4;
$color-blue: 			  	 #353a5d;
$color-blueDark:			 #20253f;
$color-green:          #9be829;
$color-red: 			   	 #ff0000;
$color-orange: 				 #ff730e;
$color-pink:           #fe0c6c;
$color-cyan: 			   	 #2ff5d7;

/* 
   Social Colors
   ========================================================================== */
$color-fb:                #3B5998;
$color-twitter:           #55ACEE;
$color-googleplus:        #DC4E41;
$color-youtube:           #CD201F;
$color-instagram:         #125688;
$color-tumblr:            #36465D;

/* 
   Component Colors
   ========================================================================== */
$color-headerBG:          #4e4e4e;
$color-tableHeadBG:       #383838;
$color-projectListText:	  #ced1e0;
$color-rowAlt:						#f3f0f0;
$color-tableBorder:				#e2dede;