/* ==========================================================================
   Table Sizes
   ========================================================================== */
$table-rowWrap-height--large:       calc(100vh - 145px);
$table-rowWrap-height--small:       calc(100vh - 125px);
$table-date-height--large:          80px;
$table-date-height--small:          60px;
$table-row-height:                  10%;
$table-row-offset--1-6:             100px;
$table-row-offset--1-3:             35px;
$table-col-width--1-6:              16.666%;
$table-col-width--1-5:              20%;
$table-col-width--1-4:              25%;
$table-col-width--1-3:              33.333%;
$table-col-width--1-2:              50%;
$table-col-width--1-1:              100%;