.fd-header {
  align-items: center;
  background: $color-headerBG;
  box-sizing: border-box;
  display: flex;
  padding: 15px 0 15px 100px;
  position: relative;
  justify-content: flex-start;
  height: fit-content !important;
  @mixin size 100vw, 55px;

  img,
  h1 {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  img {
    max-height: 100%;
    height: 30px;
  }

  h1 {
    color: #ffffff;
    display: inline-block;
    margin: 5px 0 0 0;
    left: 10%;
    @mixin font-sansN3;
    @mixin font-size 13;
  }

  &--updated {
    color: #9e9e9e;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    @mixin font-sansN3;
    @mixin font-size 14;

    span {
      @mixin font-sansN7;
    }
  }
  @media screen and (--wide) {
    padding-left: 20px;
  }
  @media screen and (--mobile) {
    h1 {
      display: none;
    }
  }
}

.logo-text {
  color: #f8f8f8;
  display: inline-block;
  margin: 5px 0 0 0;
  left: 10%;
  font-size: 14px !important;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.125rem;
  letter-spacing: 0em;
}

.regular-checkbox {
  height: 18px !important;
  width: 18px !important;
  margin-left: 5px;
  cursor: pointer;
}
