// Resource Table Styles
.fd-resourceTable {
	width: 100%;

	&-head {
		align-items: center;
		background: $color-tableHeadBG;
		display: flex;
		flex: 1;
		flex-direction: row;
		padding-left: $table-row-offset--1-6;
		justify-content: flex-start;
	}

	&-date {
		align-items: flex-start;
		border-left: 1px solid #272727;
		box-sizing: border-box;
		color: #acacac;
		display: flex;
		flex-direction: column;
		flex: 1;
		height: $table-date-height--large;
		padding: 0 15px;
		position: relative;
		justify-content: flex-end;
		width: $table-col-width--1-6;
		@mixin font-size 22, -16, -100;
		line-height: 29px;
		@mixin font-sansN4;

		[data-showdayofweeklabels="false"] & {
			justify-content: center;
		}

		&--current {
			border-left-color: transparent;

			span.date {
				color: $color-white;
				position: relative;
				top: -5px;
				@mixin font-size 32, -16, -100;
			}
			.fd-resourceTable-daysOfWeek span { color: #7d7d7d; }
		}
		span {
			box-sizing: border-box;
			display: block;
			padding-left: 5%;
			width: 100%;
			@mixin font-sansN5;
		}
	}

	&-daysOfWeek {
		display: flex;
		margin-top: 3px;
		@mixin size 100%, auto;

		[data-showdayofweeklabels="false"] & {
			display: none;
		}

		span {
			box-sizing: border-box;
			color: #9e9e9e;
			display: block;
			padding: 10px 0;
			position: relative;
			text-align: center;
			flex: 1;
			flex-basis: 20%;
			width: 20%;
			@mixin font-size 12, 0;

			&:before {
				@extend %pseudoElementAbsolute;
				background: #4e4e4e;
				top: 5px; bottom: 5px;
				width: 1px;
			}
			&:first-child:before { display: none; }
		}
	}
	
	&-rowsWrap { height: $table-rowWrap-height--large; }
	&-row {
		background: #eeedec;
		border-bottom: 1px solid $color-tableBorder;
		display: flex;
		flex-direction: row;
		flex: 1;
		align-items: center;
		justify-content: flex-start;
		position: relative;
		@mixin size 100%, $table-row-height;

		&:nth-child(even) { background: #f5f5f5; }
	}

	&-employee {
		border-right: 1px solid transparent; // meant to try and keep things aligned
		flex-basis: auto;
		min-width: $table-row-offset--1-6;
		max-width: $table-row-offset--1-6;
		position: relative;
		width: $table-row-offset--1-6;

		i, span {
			display: block;
			margin: 0 auto;
		}

		i {
			background-size: cover !important;
			border-radius: 50%;
			@mixin size 50px, 50px;
		}

		span {
			color: $color-grey-60;
			margin-top: 5px;
			text-align: center;
			@mixin font-sansN4;
			@mixin font-size 16, 18, 25;
			line-height: 15px;
		}

		&--container {
			position: absolute;
			top: 50%; left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
		}
	}

	&-week {
		align-content: center;
		border-right: 1px solid #dcdcdc;
		box-sizing: border-box;
		display: flex;
		flex: 1;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 0 15px;
		position: relative;
		@mixin size $table-col-width--1-6, 100%;

		&:nth-child(2) {
			margin-left: 0;

			&:before {
				@extend %pseudoElementAbsolute;
				background: $color-white;
				border-left: 1px solid #dfdedd;
				border-right: 1px solid #dfdedd;
				box-sizing: border-box;
				margin-left: -1px;
				position: absolute;
				top: 0; left: 0;
				@mixin size calc(20% - 4px), 100%;
			}

			[data-highlightdayofweek="false"] & {          
				&:before {
					display: none;
				}
			}
		}

		div {
			background: #ff0000;
			border-radius: 10px;
			box-shadow: color($color-black a(10%)) 0 1px 2px;
			color: $color-white;
			height: 35%;
			margin: 2px;
			float: left;
			text-align: left;
			position: relative;
			overflow: hidden;
			@mixin font-sansN6;
			@mixin font-size 14, 38, 25;

			span {
				margin-left: 10px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		[data-delivery="true"] { box-shadow: inset 0 0 0 2px #ff0000; }

		// Override White color for cells with white backgrounds
		.span-1 {
			width: calc(20% - 4px);

			span {
				margin-left: 0;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		.span-2 { width: calc(40% - 4px); }
		.span-3 { width: calc(60% - 4px); }
		.span-4 { width: calc(80% - 4px); }
		.span-5 { width: calc(100% - 4px); }
	}

	&[data-day="Mon"] { @mixin activeDay .Mon; }
	&[data-day="Tue"] { @mixin activeDay .Tue; }
	&[data-day="Wed"] { @mixin activeDay .Wed; }
	&[data-day="Thu"] { @mixin activeDay .Thu; }
	&[data-day="Fri"] { @mixin activeDay .Fri; }

	&-day {
		display: flex;
		flex-direction: column;
		margin: 0 1% 0 0;
		height: 6vh;
		width: calc(100vw / 34);

		&:last-child { margin-right: 0; }

		div {
			background: #ff0000;
			border-radius: 3px;
			display: flex;
			align-items: center;
			justify-content: center;
			clear: both;
			text-align: center;
			@mixin size 100%, 100%;
		}

		&--split {
			display: block;
			height: auto;
			margin-bottom: 2%;

			&:last-child {
				margin-top: 2%;
				margin-bottom: 0;
			}
		}
	}

	// Vertical Breakpoints
	@media screen and (--tallest) {
		&-date {}
		&-employee {
			span {
				font-size: 16px;
				margin-left: 10px;
				padding: 0;
			}
		}
	}

	@media screen and (--tall) {
		&-employee {
			i { display: none; }
		}
	}

	@media screen and (--medium) {
		&-date {
			@mixin font-size 18, -16, -100;

			&--current span.date { @mixin font-size 20, -16, -100; }
			.fd-resourceTable-daysOfWeek span { font-size: 12px; }
		}
	}

	@media screen and (--small) {
		&-rowsWrap { height: $table-rowWrap-height--small; }
		&-date { height: $table-date-height--small; }
		&-employee {
			span {
				font-size: 12px;
				line-height: 22px;
				margin-left: auto;
				margin-top: 0;
				padding: 0;
			}
		}
		&-week div { @mixin font-size 12, 38, 25; }
	}

	// Hiding cols
	@media screen and (--maxWidth) {
		&-date, &-week { @mixin hideEndWeeks 1; }
	}
	@media screen and (--widest) {
		&-date, &-week { @mixin hideEndWeeks 2; }
	}
	@media screen and (--wide) {
		&-head { padding-left: $table-row-offset--1-3; }
		&-employee {
			height: 100%;
			min-width: $table-row-offset--1-3;
			max-width: $table-row-offset--1-3;
	    transform: rotate(180deg);
	    writing-mode: vertical-lr;
	    width: $table-row-offset--1-3;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
			
			&--container {
				height: 100%;
				top: 0;
				transform: translate(-50%, 0);
			}
	    i { display: none; }
	    span {
	    	box-sizing: border-box;
	    	line-height: 5px;
	    	padding: 0 10px;
	    }
		}

		&-date, &-week { @mixin hideEndWeeks 3; }
	}
	@media screen and (--mid) {
		&-date, &-week { @mixin hideEndWeeks 4; }
	}
	@media screen and (--mobile) {
		&-date, &-week { @mixin hideEndWeeks 5; }
	}
}